<div id="chat">
  <div class="span8">
    <div id="messages">
      <table class="table table-striped">
      </table>
    </div>

    <form id="message-form" method="post" action="#">
      <div class="control-group">
        <div class="controls">
          <textarea id="new-message" class="span12 input-xlarge" id="textarea" rows="3"></textarea>
          <input id="send-message" class="btn btn-small" type="button" value="Send" />
        </div>
      </div>
    </form>
  </div>

  <div class="span4">
    <!--
    <div id="participants" class="well well-small">
      <h5>Participants</h5>
      <ul class="unstyled">
        <li>Andrew Olson</li>
        <li>Barack Obama</li>
      </ul>
    </div>
    -->
  </div>
</div>